
{{!-- links to root, about and help pages --}}
<header>

    {{!-- accessing title dynamic element from res.render() --}}
    <h1>
        {{title}}
    </h1>

    <a href="/">
        Weather
    </a>

    <a href="/about">
        About
    </a>

    <a href="/help">
        Help
    </a>

</header>