{{!-- accessing title dynamic element from res.render() --}}
<h1>
    {{title}}
</h1>

{{!-- links to root, about and help pages --}}
<div>

    <a href="/">
        Weather
    </a>

    <a href="/about">
        About
    </a>

    <a href="/help">
        Help
    </a>

</div>