body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 1rem;
    padding: 1rem 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

header a {
    color: #888;
    margin-right: 1rem;
    text-decoration: none;
    background: #eee;
    padding: 0.6rem;
    border-radius: 10%;
}

header a:hover {
    transition: background 1s;
    background: #ddd;
}

.portrait {
    width: 250px;
}

.main-content {
    flex-grow: 1;
}

.box-success {
    color: white;
    padding: 1rem;
    background: rgb(141, 151, 141);
    border-radius: 0.4rem;
    margin: 0.7rem 0;
    display: none;
}

.box-fail {
    color: white;
    padding: 1rem;
    background: rgb(197, 85, 85);
    border-radius: 0.4rem;
    margin: 0.7rem 0;
    display: none;
}

.box-info {
    color: white;
    padding: 1rem;
    background: rgb(106, 104, 224);
    border-radius: 0.4rem;
    margin: 0.7rem 0;
    display: none;
}

.text-input {
    padding: 0.7rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #888;
}

.btn {
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
}

.btn-submit {
    background: rgb(163, 177, 158);
    color: white;
    cursor: pointer;
}

.btn-submit:hover {
    transition: background 1s;
    background: rgb(118, 128, 115);
}